<div class="row m-2">
  <div class="col-sm-6 col-md-3 m-5">
    <a href="<%= contribute_path(@contributes) %>" class="imgshow">
      <%= image_tag @contributes.image, size: "250x154" %>
      <h6 class="desc"><%= @contributes.videoname %></h6>
    </a>
  </div>
</div>
<nav aria-label="Page navigation" >
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
